## 01.27 배울 내용은 꼭 필요한 문법 관련해서 배운다. 
** 나중에 필요한 문법은 구글링해서 보자. **
프로그래밍 언어라는 것은 언어기 때문에 ***복습*** 이 중요 
알려주는 것들을 주피터 노트북에 ***정리***를 잘 해서 계속해서 복습하고 참고해서 따라하는게 목표!!!

In [1]:
1+1

2

In [2]:
7-4

3

하지만 파이썬이 언제나 인간의 직관과 상식에 정확하게 일치하도록 동작하는 것은 아닙니다. 다음의 예시를 통해 이를 확인할 수 있습니다.

로우레벨 컴퓨터 랭귀지 : 컴퓨터가 원하는 언어를 하는거 예를들어 C언어
하이레벨 컴퓨터 랭귀지 : 사용자가 편하게 이해하는 언어라고 생각하면 됨 예를들어 파이썬

하이레벨 컴퓨터 랭귀지가 훨씬 쉽다.

In [3]:
# 3x4 로 알고 있듯, x를 쓰지 않는 이유는 문자와 헷갈리지 않기 위해 사용
3 * 4

12

In [4]:
#키보드에 나눗셈 기호가 없어서 '/'로 대체
3 / 4

0.75

파이썬은 덧셈, 뺄셈, 곱셈, 나눗셈 외에도 나머지 연산(%)을 지원합니다.

In [5]:
#나머지 연산
14 % 5

4

In [6]:
#비교연산자(변수에 할당할 때 '='를 쓰기 때문), 파이썬은 true가 True로 시작하니 참고
1 + 2 == 3

True

In [7]:
#비교연산자
1 + 2 == 4

False

프로그래밍 언어는 적은 문법을 다양하게 응용함으로서 동작하는 무언가(=프로그램)를 만들어 냅니다. 다음은 나머지 연산자와 비교 연산자 두 개를 응용한 코드입니다.

In [8]:
# 10을 2로 나눈 나머지는 0이므로 참(True)이 나옵니다. 즉, 이 코드는 짝수와 홀수를 구분하는 용도로 쓰입니다.
10 % 2 == 0

True

In [9]:
# 반면, 11을 2로 나눈 나머지는 0이 아니므로 거짓(False)이 나옵니다.
11 % 2 == 0

False

어떤 경우에는 하나의 조건이 아닌, 두 개 이상의 조건을 중복해서 사용해야 할 경우가 있습니다. 이럴 경우에는 and와 or를 사용합니다.

In [10]:
12%2 == 0 and 12%3 == 0 #두가지를 비교할 경우 and를 사용

True

In [11]:
14%2 == 0 and 14%3 == 0

False

In [12]:
14%2 == 0 or 14%3 == 0

True

## 변수

In [13]:
a = 3
b = 5
a + b

8

In [14]:
a = 4
b = 14
a + b

18

In [15]:
a=3
a = a + 1
print("3번째 줄 a의 값 : ", a)
a = a + 2
a

3번째 줄 a의 값 :  4

6

In [16]:
#문자열 텍스트
"Hello world!" #변수랑 헷갈리지 않기 위해 글을 쓸때는 " " 를 사용

'Hello world!'

In [17]:
#하나의 문제를 처리할 때는 하나의 문법만 있으면 된다 라는게 파이썬의 철악(switch-case문이 파이썬에는 없다(if-else로 대체))
'Hello world'

'Hello world'

In [18]:
#문자열을 감싸주기 위해 홀따움표(') 와 쌍따움표(") 두 가지 버전이 있다.
print("choo's height?")

print('I say "Hello World!"' )
# ' '를 활용해서 문자열에서 "도 활용이 가능합니다.

choo's height?
I say "Hello World!"

In [19]:
#int == integer == 숫자
#str == string == 문자열
1 + "2" #Error가 날 경우 에러 메세지를 보면 됨

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [20]:
"1" + "2" #문자열은 앞 뒤로 더할 수 있음

'12'

##  포메팅
포메팅은 문자열에 어떤 값을 삽입하는 방법입니다.

In [21]:
#파이썬에서 가장 지저분한 문법 중 하나. 어려운 것은 아니며 쓸 곳은 많다.
bananas = 3
days = 5

"chu ate {0} bananas for {1} days".format(days, bananas)
#모든 프로그래밍 언어는 0부터 시작. 즉, 0은 순서상 첫번째를 뜻함
# '.'은 특수기능이다. 즉, format이라는 것을 불러와 0번째에 bananas라는 변수에 대입한 3을 넣어주는 것.

'chu ate 5 bananas for 3 days'

In [22]:
# 신버전 파이썬의 경우 아래와 같이 축약된 명령어로 대체 가능합니다.
f"chu ate {bananas} bananas for {days} days"

'chu ate 3 bananas for 5 days'

In [25]:
# 형식을 지정하여 값을 출력할 수 있습니다.
model_a = 0.123456789
model_b = 0.987654321

# f == float == 소숫점
# : 은 특수기능의 시작을 나타내고 .5는 5자리 까지 출력하는 것을 뜻하고 f(float)는 소숫점의 숫자를 뜻함.(소숫점 5자리 까지 출력이 됩니다.)
# 1:.3f 는 3자리 까지 소숫점을 출력합니다.
"[Accuracy] Model A = {0:.3f}, Model B = {1:.5f}".format(model_a, model_b)

'[Accuracy] Model A = 0.123, Model B = 0.98765'

In [28]:
#소수점을 잘라 쓰는 포메팅 방법
f"[Accuracy] Model A = {model_a}, Model B = {model_b:.5f}"

'[Accuracy] Model A = 0.123456789, Model B = 0.98765'

## 문자열

In [29]:
message = "Hello World!"
message

'Hello World!'

In [30]:
print(message[0])
print(message[1])
print("-----")
print(message[-0])
print(message[-1])
print(message[-2])

H
e
-----
H
!
d

In [31]:
#문자열의 일부분만 가져오는 것을 Slice 라고 부름
message[0:3]
#소괄호 : 나머지
#중괄호 : 포매팅할때만 씀
#대괄호 : 전체 문자에서 일부를 떼어오거나 할때만 쓴다

'Hel'

In [32]:
print("H" in message)
print("h" in message)
print("Hello" in message)

True
False
True

In [33]:
message.lower() #소문자로 출력

'hello world!'

In [34]:
message.upper() #대문자로 출력

'HELLO WORLD!'

## 리스트

In [35]:
#변수 하나에 여러개의 변수를 담아서 쓸 수 있는거
#리스트에서는 대괄호를 쓴다.
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [36]:
print(odd[0])
print(odd[1])
print("------")
print(odd[-1])
print(odd[-2])

1
3
------
9
7

In [37]:
# 0번째 부터 3번째까지 출력
odd[0:4]

[1, 3, 5, 7]

In [38]:
# 리스트에 특정값이 포함되어 있는지 확인할 수 있습니다.
print(1 in odd)
print(2 in odd)
print(3 in odd)

True
False
True

In [39]:
#.append : 실행하면 할수록 계속해서 11이 늘어난다.
odd.append(11)
odd

[1, 3, 5, 7, 9, 11]

In [40]:
odd = odd + [13, 15, 17, 19]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
# 리스트의 특정 위치의 값을 변경할 수 있습니다.
odd[3] = -1
odd[5] = -1
odd

[1, 3, 5, -1, 9, -1, 13, 15, 17, 19]

In [43]:
# pop 함수는 리스트의 마지막 값을 뽑아냅니다.(마지막 값을 제외하고 출력)
odd.pop()
odd

[1, 3, 5, -1, 9, -1, 13, 15]

In [52]:
#리스트와 문자열의 상호기능
message = "Hello World!"
print(message.split(" "))
print(message.split("o"))

msg = message.split(" ")
print("msg    : ", msg)
print("msg[0] : ", msg[0])
print("msg[1] : ", msg[1])

['Hello', 'World!']
['Hell', ' W', 'rld!']
msg    :  ['Hello', 'World!']
msg[0] :  Hello
msg[1] :  World!

In [53]:
words = ["Hello", "Wo", "rld!"]
print("".join(words))
print(" ".join(words))
print(",".join(words))
print(", ".join(words))

HelloWorld!
Hello Wo rld!
Hello,Wo,rld!
Hello, Wo, rld!

## 제어문

In [54]:
age = 3
#if의 문법의 범위는 띄어쓰기가 있는 구간이다. 즉, else를 쓸때도 띄어쓰기를 지우지 않으면 인식 못함
if age < 5 :
    print("아이")
else :
    print("어른")

아이

In [55]:
age = 10

if age < 5 :
    print("아이")
    #파이썬은 특이하게 else if 를 쓰게 되면 띄어쓰기가 else : if로 사용되기 때문에 인식이 안되 elif로 쓴다
elif age <18 :
    print("학생")
else :
    print("어른")

학생

## 반복문

In [56]:
basket = ['apple', 'banana', 'chicken', 'pineapple', 'cherry']

print(basket[0])
print(basket[1])
print(basket[2])
print("---------")

# stuff 라는 변수에 basket의 변수를 넣어줌
for stuff in basket :
    print(stuff)

apple
banana
chicken
---------
apple
banana
chicken
pineapple
cherry

In [65]:
# range(x, y) 의 뜻은 0부터 y개수의 수를 보여주지만, x를 할당할 경우 x부터 y-x까지의 수까지 출력되는 것
# range(x, y) = (i=x; i<y; i++)
for i in range(1, 11) :
    if i == 2 : 
        print("boop!")
        # continue : 루프(반복문)를 (continue 아래 부분을) skip 한다.
        # continue : 해당 루프만 실행하지 않고 다음 루프를 다시 시작합니다.
        continue 
        
    if i == 5 :
        print("beep!")
#         break #루프(반복문)를 강제종료
        
    print(i)

1
boop!
3
4
beep!
5
6
7
8
9
10

In [70]:
double_list = []

for i in range(1, 11) :
    if i == 5 :
        continue
    
    if i == 8 :
        break;
        
    double = i * 2
    double_list.append(double)
    
double_list

#'5'일 때는 skip되니까 .append가 실행되지 않은 채 진행되고, '8'일 때는 break가 되니까 double~이 실행되지 않은 채 종료

[2, 4, 6, 8, 12, 14]

In [72]:
double_list = []

for i in range(1, 11) :
    if i == 5 :
        continue
    
    if i == 8 :
        break;
        
    double = i * 2
    
double_list.append(double)
double_list

[14]

In [75]:
double_list = []

for i in range(1, 11) :
    if i == 5 :
        continue
        
    double = i * 2
    double_list.append(double)
    
    if i == 8 :
        break;
        
double_list

[2, 4, 6, 8, 12, 14, 16]

## 함수

In [76]:
#def == define
def multiply(a, b) :
    c = a * b
    return c

print(multiply(2, 3))
print(multiply(3, 4))

6
12

In [78]:
out = []

def sign(n) :
    if n > 0 :
        return '양수'
    elif n < 0 :
        return '음수'
    else :
        return '0'

for i in [-1, 0, +1] :
    out.append(sign(i))
    print("sign(", i, ") : ", sign(i))
    
out
    
# print(sign(-1))
# print(sign(0))
# print(sign(+1))

sign( -1 ) :  음수
sign( 0 ) :  0
sign( 1 ) :  양수

['음수', '0', '양수']

### 팩토리얼
   * 3! = 3 x 2 x 1 = 6
   * 4! = 4 x 3 x 2 x 1 = 24
   * 5! = 5 x 4 x 3 x 2 x 1 = 120

In [ ]:
# factorial 함수를 정의합니다
def factorial(n) :
    # result 변수에 1을 할당합니다.
    result = 1
    
    # 반복문을 이용해서 1부터 n까지를 반복합니다.
    for i in range(1, n + 1) :
        result = result * i
        
    # result 값을 반환합니다.
    return result

print(factorial(3))
print(factorial(4))
print(factorial(5))