In [1]:
import pandas as pd

## Load Dataset

In [2]:
# pd.read_csv("data/car-crash.csv")

In [3]:
# pd.read_csv("data/car-crash.csv", engine="python") # python 용 engine 은 좋은데 느림

In [4]:
# 한국어 대부분은 utf-8 로 저장되지만 안되면 euc-kr로 저장되어 있다.
# pd.read_csv("data/car-crash.csv", encoding="utf-8")
# pd.read_csv("data/car-crash.csv", encoding="euc-kr")

# 여기까지도 안되면 google drive 들어가서 구글씨트로 열면 utf-8로 자동으로 인코딩해줌. -> 다운로드 -> .csv 파일로 다운받고 로딩하면 됨.

In [5]:
review = pd.read_csv("data/review.csv")

print(review.shape)
review.head()

(4, 3)

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점

In [6]:
# str == 문자열 == object
review["리뷰"].str.len() # 문장 길이

0     32
1     60
2    134
3     32
Name: 리뷰, dtype: int64

In [7]:
# review["리뷰"].str.lower() # 소문자
review["리뷰"].str.upper() # 대문자

0                     위치나 시설, 직원태도등 최근 방문한 호텔중 BEST였음.
1    위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...
2    한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...
3                     호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.
Name: 리뷰, dtype: object

In [8]:
review[review["사용자"] == "김경이"]

   사용자                                리뷰  평점
0  김경이  위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점

In [9]:
review[review["사용자"].isin(["김경이", "박진형"])]

   사용자                                                 리뷰  평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...  9점

In [10]:
user_list = ["김경이", "박진형"]
review[review["사용자"].isin(user_list)] # 위랑 같은 코든데 깔끔하게 구현

   사용자                                                 리뷰  평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...  9점

In [11]:
user_list = ["10점", "9점"]
review[review["평점"].isin(user_list)]

   사용자                                                 리뷰   평점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점

In [12]:
review["리뷰"].str.replace("채크인", "체크인")

0                     위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.
1    위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...
2    한국인 직원이 있어서 체크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...
3                     호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.
Name: 리뷰, dtype: object

In [13]:
review[review["리뷰"].str.contains("위치")]

   사용자                                                 리뷰  평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...  9점

In [14]:
review[review["리뷰"].str.contains("위치|시설")]

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 채크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점

In [15]:
review[review["리뷰"].str.contains("(?=.*위치)(?=.*시설)")] # 정규표현식으로 사용한것, 위치와 시설 둘다 들어간 것을 고를 때

   사용자                                리뷰  평점
0  김경이  위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점

In [16]:
review["리뷰"].str.count("(?=.*위치)(?=.*시설)")

0    1
1    0
2    0
3    0
Name: 리뷰, dtype: int64

In [17]:
review["리뷰"].str.split() # 공백을 기준으로 쪼개는 것.

0             [위치나, 시설,, 직원태도등, 최근, 방문한, 호텔중, Best였음.]
1    [위치도, 좋고, 침대가, 편안해서, 숙면을, 취한점이, 좋았습니다., 직원들도, ...
2    [한국인, 직원이, 있어서, 채크인/아웃, 할때, 많이, 편했고,, 음식점, 추천과...
3             [호텔이, 너무, 좋아서, 밖으로, 못나감..ㅠㅠ, 정말, 최고입니다.]
Name: 리뷰, dtype: object

In [18]:
review["리뷰"].str.split(",")

0                  [위치나 시설,  직원태도등 최근 방문한 호텔중 Best였음.]
1    [위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 ...
2    [한국인 직원이 있어서 채크인/아웃 할때 많이 편했고,  음식점 추천과 예약 등 세...
3                   [호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.]
Name: 리뷰, dtype: object

In [19]:
review["리뷰"] = review["리뷰"].str.replace("채크인", "체크인")

In [20]:
review

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 체크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점

In [21]:
raw_review = review.copy()
raw_review.columns = ["사용자 ", " 리뷰 ", " 평점"]
raw_review

  사용자                                                 리뷰    평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 체크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점

In [22]:
# raw_review["사용자"] # << 띄어쓰기 문제 때문에 가져오지 못함

In [23]:
raw_review.columns # 컬럼의 인덱스가 어떻게 구성되어있는지 확인할 수 있음

Index(['사용자 ', ' 리뷰 ', ' 평점'], dtype='object')

In [24]:
raw_review.columns.str.strip() # 외각쪽에 있는 띄어쓰기를 없애줌

Index(['사용자', '리뷰', '평점'], dtype='object')

In [25]:
raw_review.columns = raw_review.columns.str.strip()
raw_review["사용자"]

0    김경이
1    박진형
2    강석민
3    최진강
Name: 사용자, dtype: object

In [26]:
review_tokens = review["리뷰"].str.get_dummies(sep=" ") #어떤 단어가 많이 들어가있는지 확인할 때 많이 사용
review_tokens
# 형태소 분석기를 쓰면 깨끗한, 깨끗하다, 깨끗하게 등과 같이 공통 단어인 깨끗을 뽑아낼 수 있다.

,Best였음.,깨끗하고,너무,등,따로,"룸서비스,조식",만족한,많이,매우,모두,...,친절해서,침대가,편안해서,"편했고,",포함되어있지,한국인,할때,현대적입니다.,호텔이,호텔중
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,1,0,1,1,...,1,1,1,0,0,0,0,0,0,0
2,0,1,0,1,1,1,0,1,0,0,...,0,0,0,1,1,1,1,1,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [27]:
review_tokens["깨끗하고"].sum() # 전체 몇번 사용되었는지 합치는거

1

In [28]:
review_tokens["깨끗하고"].mean() # 전체 평균

0.25

## 파일 저장하기

In [29]:
review_large = pd.concat([review.copy() for _ in range(10000)])

print(review_large.shape)
review_large.head()

(40000, 3)

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 체크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점

In [30]:
review_large.to_csv("review_large.csv")

In [31]:
pd.read_csv("review_large.csv").head() # default index를 저장해서 unnamed가 나오는거

   Unnamed: 0  사용자                                                 리뷰   평점
0           0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1           1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2           2  강석민  한국인 직원이 있어서 체크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3           3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점
4           0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점

In [32]:
review_large.to_csv("review_large_index.csv", index=False)

In [33]:
review_large = pd.read_csv("review_large_index.csv")
review_large.head()

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 체크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점
4  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점

In [34]:
%time review_large.to_csv("review_large_index.csv", index=False)

Wall time: 170 ms

In [35]:
%time review_large = pd.read_csv("review_large_index.csv")

Wall time: 78.5 ms

In [36]:
# !stat -f "%z" "review_large_index.csv"   # window에서 안 됨

## Pickle

In [37]:
import pickle # python 에서 추천하는 저장방식
# 장점 : python에서 뭘 가지고 있던 다 저장 가능한 방식

In [38]:
pickle.dump(review_large, open("review_large_index.p", "wb")) # wb : write binary

In [39]:
review_large = pickle.load(open("review_large_index.p", "rb")) # rb : read binary
review_large.head(1)

   사용자                                리뷰  평점
0  김경이  위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.  8점

In [40]:
%time pickle.dump(review_large, open("review_large_index.p", "wb"))

Wall time: 6.98 ms

In [41]:
%time review_large = pickle.load(open("review_large_index.p", "rb"))

Wall time: 5.05 ms

## Joblib

In [42]:
!pip install joblib
# from sklearn.externals import joblib

Requirement already satisfied: joblib in c:\users\choo\bigdata\lib\site-packages

In [43]:
import joblib

In [44]:
joblib.dump(review_large, 'review_large_index.pkl', compress=True)

['review_large_index.pkl']

In [45]:
review_large = joblib.load('review_large_index.pkl')
review_large.head()

   사용자                                                 리뷰   평점
0  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점
1  박진형  위치도 좋고 침대가 편안해서 숙면을 취한점이 좋았습니다. 직원들도 모두 친절해서 매...   9점
2  강석민  한국인 직원이 있어서 체크인/아웃 할때 많이 편했고, 음식점 추천과 예약 등 세심하...  10점
3  최진강                   호텔이 너무 좋아서 밖으로 못나감..ㅠㅠ 정말 최고입니다.   8점
4  김경이                   위치나 시설, 직원태도등 최근 방문한 호텔중 Best였음.   8점

In [46]:
%time joblib.dump(review_large, 'review_large_index.pkl', compress=True)

Wall time: 12 ms

['review_large_index.pkl']

In [47]:
%time review_large = joblib.load('review_large_index.pkl')

Wall time: 11 ms